

# misc
.DS_Store

# dependencies
__pycache__
.pyc
.sqlite3
.umi
front/node_modules
npm-debug.log*
yarn-error.log
yarn.lock
package-lock.json

# production
front/dist
front/output

# misc
.DS_Store

# umi
.umi
.umi-production
