gitlab地址:     gitlab.iwubida.com
禅道地址:       zentao.jiabangou.com
VPN地址:        openvpn.iwubida.com
Jumpserver:
    测试环境1：jumpserver.t.jiabangougo.com
    测试环境2: jumpserver.iwubida.com

帐号:   lijianfei
密码:   123456
登陆说明：
  １、gitlab登陆请选择LDAP认证登陆
  ２、openvpn请用openvpn客户端连接,协议为ＴＣＰ
      参考使用说明:http://realcourse.hxu.edu.cn/openvpn.html
      附件iwubida.ovpn为配置文件，放到OPENVPN的配置目录。用这个配置连接。即可。
      ca.crt为根证书。一般不需要用到，因为这个证书已经放到了iwubida.ovpn里。
      注：openvpn-gui 需要以管理员运行。
  3、连接ＯＰＥＮＶＰＮ需要根证书，根证书请参见附件！
  4、用此帐号登陆禅道后，原帐号密码将失效！只能用这个密码登陆！
  5、禅道用此帐号登陆，之前的用户名密码就失效，不能使用，只能用这个密码登陆，并且不能在禅道里修改密码。
  6、连接上VPN后，数据库直接通过IP访问，不再需要跳板机了。请知悉！