<div style="width: 800px; margin: 20px auto;font-family: 微软雅黑, 'Microsoft Yahei', 'Hiragino Sans GB', tahoma, arial, 宋体; background-color: #e0dddd5e; padding: 20px; border-radius: 4px; border: none; box-shadow: #dcd8d8 3px 3px 3px 0px;">
    <h2 style="margin-top:0">{{ title }}</h2>
    <table style="width: 100%">
            <tr style="height: 40px">
                <td> 
                    <h2>用户帐号: <span style="color:red"> {{username}}</span></h2>
                </td>
            </tr>
            <tr>
                <td> 
                    <h2>当前公钥: </h2>
                    <div style="color: red; word-break: break-all;background-color: #dcdcdc; padding: 5px;border-radius: 5px;margin: 5px;" >
                        {{publickey}}
                    </div>
                </td>
            </tr>
        </table>
    <h4>说明： </h4>
    <ul style="list-style: decimal;font-size: 12px;padding: 0 0 0 30px">
        <li><span style="color:#f74420">本次重置的为SSHKey,请从附件下载私钥、公钥，或者拷贝上面的密钥文件保存到本地！</span></li>
        <li><span style="color:#f74420">保存的私钥的权限需要设置为600，才可以使用</span></li>
    </ul>
</div>