
html, body, #root {
  height: 100%;
  background-color: whitesmoke;
}

body {
  margin: 0;
}
#root{
  min-width: 385px;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #1da57ab5;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #1da57ab5, 0 0 5px #1da57ab5;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 13px;
  right: 8px;
}

#nprogress .spinner-icon {
  width: 28px;
  height: 28px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #1da57ab5;
  border-left-color: #1da57ab5;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*  */
.fade-enter,
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-apper-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.fade-enter-done {
  opacity: 1;
  color: red;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.fade-exit-done {
  opacity: 0;
}

.react-contextmenu{
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #e8e8e8;
    z-index: 10;
    background-clip: padding-box;
    border-radius: 3px;
    outline: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transition: height .3s ease-in-out;
}
.react-contextmenu.ant-menu-item{
  height: 30px;
  line-height: 30px;
}