.breadcrumb{
    padding: 15px 15px 2px 15px;
    background-color: #fff;
    box-shadow: rgb(220, 216, 216) 0px 0px 3px;
    h1{
        margin: 10px 0px;
    }
}
.delete_field_icon{
    position: absolute;
    margin-top: 9px;
    font-size:22px;
    margin-left: 5px;
}
.add_user_field_width{
    width: 100%;
}
.add_user_field_submit{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #e9e9e9;
    padding: 10px 16px;
    background: #fff;
    text-align: right;
}
.userinfo_boxstyle{
    font-size: 14;
    line-height: 22px;
    color: rgba(0,0,0,0.65);
}
.userinfo_title{
    margin:5px 0px;
    display: inline-block;
    color: rgba(0,0,0,0.85);
}
.userinfo_value{
    display: inline-block;
    margin: 0 10px;
    color: rgba(0,0,0,0.85);
}
.userinfo_sshpublickey{
    display: inline-block;
    margin: 0px 10px;
    color: rgba(0, 0, 0, 0.85);
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    padding: 3px 5px;
    background-color: rgb(242, 242, 242);
    box-shadow: rgb(220, 216, 216) 0px 0px 3px;
}
.field_search_class{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px dashed #e8e8e8;
}